@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{   
}
<div>
    <h3>Thời gian nhập hàng hàng ngày của trang web là từ 12:00 đến 15:00.</h3>
    <h3>Yêu cầu nhập cả hai bảng là quân số và bảng tình hình đơn vị</h3>
    <h3>Bảng quân số yêu cầu bắt buộc nhập tổng quân số, quân số vắng mặt, nếu có trường hợp lý do khác thì phải ghi chú rõ ràng vào cột chú thích </h3>
    <h3>Bảng tình hình đơn vị yêu cầu bắt buộc nhập tên trực ban của mỗi ngày</h3>
    <h3></h3>
</div>