@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{   
}
<div>
    <h2 style=" font-family: 'Times New Roman', Times, serif;">-Thời gian nhập hàng hàng ngày của trang web là từ 12:00 đến 15:00.</h2>
    <h2 style=" font-family: 'Times New Roman', Times, serif;">-Yêu cầu nhập cả hai bảng là quân số và bảng tình hình đơn vị</h2>
    <h2 style=" font-family: 'Times New Roman', Times, serif;">-Bảng quân số yêu cầu bắt buộc nhập tổng quân số, quân số vắng mặt, nếu có trường hợp lý do khác thì phải ghi chú rõ ràng vào cột chú thích </h2>
    <h2 style=" font-family: 'Times New Roman', Times, serif;">-Bảng tình hình đơn vị yêu cầu bắt buộc nhập tên trực ban của mỗi ngày</h2>
    <h2></h2>
</div>