@model MvcLogin.Models.DonVi
@using Dotnet6MvcLogin.Models.DTO;
@using Dotnet6MvcLogin.Repositories.Abstract;
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Mvc;

@using MvcLogin.Models;

<body>
    @if (TempData["success"] != null)
    {
        <div class="alert alert-success">@TempData["success"]</div>
    }

    @if (TempData["error"] != null)
    {
        <div class="alert alert-danger">@TempData["error"]</div>
    }
    @if (TempData["errorTB"] != null)
    {
        <div class="alert alert-danger">@TempData["error"]</div>
    }
    <div class="contact-container">
        <form asp-action="AddDonViNew" class="contact-left">
            <div class="grid-container">
                <div class="grid-column">
                    <input asp-for="IdDv" type="text" name="IDdv" placeholder="IDdv" class="contact-inputs"  />
                    <input asp-for="TenDv" type="text" name="TenDv" placeholder="Tên Đơn vị" class="contact-inputs">
                </div>
            <button  type="submit">Thêm </button>
           

        </form>
    </div>
</body>


<link rel="stylesheet" href="~/css/nhapqs.css">

