@model MvcLogin.Models.QuanSo
@using Dotnet6MvcLogin.Models.DTO;
@using Dotnet6MvcLogin.Repositories.Abstract;
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Mvc;

@using MvcLogin.Models;






<body>
    @if (TempData["success"] != null)
    {
        <div class="alert alert-success">@TempData["success"]</div>
    }

    @if (TempData["error"] != null)
    {
        <div class="alert alert-danger">@TempData["error"]</div>
    }
    <div class="contact-container">

        <form asp-action="EditNew" class="contact-left">
            @* <input type="text" name="IDdv" placeholder="IDdv" class="contact-inputs" required>
            <input type="email" name="Ngay" placeholder="Ngay" class="contact-inputs" required>
            <input type="text" name="Tổng quân số" placeholder="Tổng quân số" class="contact-inputs" required>
            <input type="email" name="Quân số vắng" placeholder="Quân số vắng" class="contact-inputs" required>
            <input type="text" name="Đào ngũ" placeholder="Đào ngũ" class="contact-inputs" required>
            <input type="email" name="Đi viện" placeholder="Đi viện" class="contact-inputs" required>
            <input type="text" name="Đi bệnh xá" placeholder="Đi bệnh xá" class="contact-inputs" required>
            <input type="text" name="Đi học" placeholder="Đi học" class="contact-inputs" required>
            <input type="email" name="Đi thực tê" placeholder="Đi thực tê" class="contact-inputs" required>
            <input type="text" name="Thực tập" placeholder="Thực tập" class="contact-inputs" required>
            <input type="email" name="Đi tranh thủ" placeholder="Đi tranh thủ" class="contact-inputs" required>
            <input type="text" name="Đi công tác" placeholder="Đi công tác" class="contact-inputs" required>
            <input type="email" name="Thai sản" placeholder="Thai sản" class="contact-inputs" required>
            <input type="text" name="Lý do khác" placeholder="Lý do khác" class="contact-inputs" required>
            <input type="email" name="Chú thích" placeholder="Chú thích" class="contact-inputs" required> *@
            <div class="grid-container">
                <div class="grid-column">
                    <!-- Input fields -->
                    <div class="form-group">
                        <label asp-for="IdDv" class="control-label"></label>
                        <input asp-for="IdDv" type="text" name="IdDv" class="form-control"  readonly />
                        <span asp-validation-for="IdDv" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TongQs" class="control-label"></label>
                        <input asp-for="TongQs" name="TongQS" class="form-control" />
                        <span asp-validation-for="TongQs" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="QsVang" class="control-label"></label>
                        <input asp-for="QsVang" name="QsVang" class="form-control" />
                        <span asp-validation-for="QsVang" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DaoNgu" class="control-label"></label>
                        <input asp-for="DaoNgu" type="number" name="DaoNgu" class="form-control" />
                        <span asp-validation-for="DaoNgu" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DiVien" class="control-label"></label>
                        <input asp-for="DiVien" type="number" name="DiVien" class="form-control" />
                        <span asp-validation-for="DiVien" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BenhXa" class="control-label"></label>
                        <input asp-for="BenhXa" type="number" name="BenhXa" class="form-control" />
                        <span asp-validation-for="BenhXa" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DiHoc" class="control-label"></label>
                        <input asp-for="DiHoc" type="number" name="DiHoc" class="form-control" />
                        <span asp-validation-for="DiHoc" class="text-danger"></span>
                    </div>
                </div>
                <div class="grid-column">
                    <!-- Remaining Input fields -->
                    <div class="form-group">
                        <label asp-for="DiThucTe" class="control-label"></label>
                        <input asp-for="DiThucTe" type="number" name="DiThucTe" class="form-control" />
                        <span asp-validation-for="DiThucTe" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DiThucTap" class="control-label"></label>
                        <input asp-for="DiThucTap" type="number" name="DiThucTap" class="form-control" />
                        <span asp-validation-for="DiThucTap" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DiTt" class="control-label"></label>
                        <input asp-for="DiTt" type="number" name="DiTt" class="form-control" />
                        <span asp-validation-for="DiTt" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DiCtac" class="control-label"></label>
                        <input asp-for="DiCtac" type="number" name="DiCtac" class="form-control" />
                        <span asp-validation-for="DiCtac" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ThaiSan" class="control-label"></label>
                        <input asp-for="ThaiSan" type="number" name="ThaiSan" class="form-control" />
                        <span asp-validation-for="ThaiSan" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LyDoKhac" class="control-label"></label>
                        <input asp-for="LyDoKhac" type="text" name="LyDoKhac" class="form-control" />
                        <span asp-validation-for="LyDoKhac" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ChuThich" class="control-label"></label>
                        <input asp-for="ChuThich" type="text" name="ChuThich" class="form-control" />
                        <span asp-validation-for="ChuThich" class="text-danger"></span>
                    </div>
                </div>

            </div>


            <button type="submit">Lưu </button>

        </form>
    </div>
</body>




