@model MvcLogin.Models.THDV
@using Dotnet6MvcLogin.Models.DTO;
@using Dotnet6MvcLogin.Repositories.Abstract;
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Mvc;

@using MvcLogin.Models;






<body>
    @if (TempData["success"] != null)
    {
        <div class="alert alert-success">@TempData["success"]</div>
    }

    @if (TempData["error"] != null)
    {
        <div class="alert alert-danger">@TempData["error"]</div>
    }
    <div class="contact-container">

        <form asp-action="EditNewTHDV" class="contact-left">
            @* <input type="text" name="IDdv" placeholder="IDdv" class="contact-inputs" required>
            <input type="email" name="Ngay" placeholder="Ngay" class="contact-inputs" required>
            <input type="text" name="Tổng quân số" placeholder="Tổng quân số" class="contact-inputs" required>
            <input type="email" name="Quân số vắng" placeholder="Quân số vắng" class="contact-inputs" required>
            <input type="text" name="Đào ngũ" placeholder="Đào ngũ" class="contact-inputs" required>
            <input type="email" name="Đi viện" placeholder="Đi viện" class="contact-inputs" required>
            <input type="text" name="Đi bệnh xá" placeholder="Đi bệnh xá" class="contact-inputs" required>
            <input type="text" name="Đi học" placeholder="Đi học" class="contact-inputs" required>
            <input type="email" name="Đi thực tê" placeholder="Đi thực tê" class="contact-inputs" required>
            <input type="text" name="Thực tập" placeholder="Thực tập" class="contact-inputs" required>
            <input type="email" name="Đi tranh thủ" placeholder="Đi tranh thủ" class="contact-inputs" required>
            <input type="text" name="Đi công tác" placeholder="Đi công tác" class="contact-inputs" required>
            <input type="email" name="Thai sản" placeholder="Thai sản" class="contact-inputs" required>
            <input type="text" name="Lý do khác" placeholder="Lý do khác" class="contact-inputs" required>
            <input type="email" name="Chú thích" placeholder="Chú thích" class="contact-inputs" required> *@
            <div class="grid-container">
                <div class="grid-column">
                    <div class="form-group">
                        <label asp-for="IdDv" class="control-label"></label>
                        <input asp-for="IdDv" type="text" name="IdDv" class="form-control"  readonly />
                        <span asp-validation-for="IdDv" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TenTB" class="control-label"></label>
                        <input asp-for="TenTB" type="text" name="TenTB" class="form-control" />
                        <span asp-validation-for="TenTB" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Nvvs" class="control-label"></label>
                        <input asp-for="Nvvs" type="text" name="Nvvs" class="form-control" />
                        <span asp-validation-for="Nvvs" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CanhGac" class="control-label"></label>
                        <input asp-for="CanhGac" type="text" name="CanhGac" class="form-control" />
                        <span asp-validation-for="CanhGac" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="GhiChu" class="control-label"></label>
                        <textarea asp-for="GhiChu" name="GhiChu" class="form-control"></textarea>
                        <span asp-validation-for="GhiChu" class="text-danger"></span>
                    </div>
                    

                </div>
                

            </div>


            <button type="submit">Lưu </button>

        </form>
    </div>
</body>




